@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
  --primary-color: #f39921;
  --secondary-green: #49af46;
  --secondary-green-light: #95cf94;
  --secondary-blue: #2873b9;
  --border-color: rgb(143, 143, 143);
  --bg-gray: #E6E6E6;
}

.bg-gray{
  background: var(--bg-gray);
}

.text-12{
    font-size: 12px;
}

.text-14{
    font-size: 14px;
}

.bg-green{
  background-color: var(--secondary-green);
}